*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;    
}

header {
    background-color: rgb(88, 127, 158);
    color: white;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
}

main {
    background-color: rgb(175, 217, 229);
    color: black;
    text-align: center;
    margin: 0px;
    padding: 1px;
    height: 100%;
}

.cuerpo_central{
    height: 100%;
    background-color: withe;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    
    
}


.cuerpo_central div{
    margin: 0%;
    padding: 1%;
    border: 2px solid black;
    border-color: black;
    text-align: center;
  

}




footer {
    background-color: rgb(37, 50, 59);
    color: white;
    text-align: center;
    margin: 0%;
    padding: 1%;
}

nav{
    background-color: rgb(129, 151, 164);
    color: white;
    margin: 0%;
    padding: 1em;
    font-size: 25px;
}


div{
    
}

button{
    background-color: transparent;
    border: none;
}

div img{
    border-radius: 20px;
    filter:blur(0.5px)
}

.icono{
    border-radius: 40px;
}

#android{        /*llegue a la image, me faltaban comillas xd */
filter: blur(1.5px);
}